body {
    background-image: linear-gradient(45deg, #f5f5f5 25%, #fff 25%, #fff 50%, #f5f5f5 50%, #f5f5f5 75%, #fff 75%, #fff 100%);
    background-size: 1.5rem 1.5rem;
}

/* INFO */
#info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

#info [type=text] {
    all: unset;
    border-bottom: 1px solid #000;
    font-size: 1.25rem;
    font-weight: 600;
}

#info [type=text]:focus {
    border-bottom: 1px dashed #000;
}

#info span {
    font-size: .8rem;
}

/* PLAYER CONTROL */
#player-control div {
    display: flex;
    gap: .5rem;
    width: fit-content;
    margin-top: 1.5rem;
}

#player-control div [type=text] {
    all: unset;
    width: 4rem;
    padding: .6rem;
    margin: .1rem;
    margin-left: -.6rem;
    border: 1px solid #000;
    border-left: none;
    text-align: center;
    transition: opacity .5s;
}

#player-control div [type=text]:focus {
    border: 1px dashed #000;
    border-left: none;
}

#player-control div [type=text]:disabled {
    opacity: .5;
}

/* PLAYER SETTINGS */
#player-settings {
    padding-top: 0;
}

#player-settings div label {
    display: inline-block;
    margin-right: .6rem;
}

#player-settings div [type=checkbox],
#player-settings div [type=radio] {
    float: left;
    margin-right: .4rem;
    transition: opacity .5s;
}

#player-settings div [type=checkbox]:disabled,
#player-settings div [type=radio]:disabled {
    opacity: .5;
}

/* UPLOAD WRAPPER */
#upload-wrapper label {
    background: #fff;
    cursor: pointer;
    padding: .6rem 1.5rem;
    margin-left: -.3rem;
    outline: 1px solid #000;
    border-left: none;
    user-select: none;
    white-space: nowrap;
}

#upload-wrapper label [type=file] {
    display: none;
}

#upload-wrapper label:hover {
    outline: 1px dashed #000;
}

#upload-wrapper:disabled label {
    opacity: .5;
}

/* MEDIA LIST */
#media-list[data-empty=false] [data-empty] {
    display: none;
}

#media-list[data-empty=true] [data-empty] {
    height: calc(100vh / 3);
    width: calc(100% - 2px);
    display: grid;
    place-content: center;
    border: 1px solid #ddd;
    border-top: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
}

#media-list [data-id=used-space]::after {
    content: ' MiB';
}

#media-list [data-id=used-space]::before {
    content: 'Used space: ';
}

#media-list table {
    table-layout: fixed;
}

#media-list table td,
#media-list table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#media-list table [type=checkbox] {
    margin: 0 auto;
}

#media-list table th:nth-child(1),
#media-list table td:nth-child(1) {
    width: 4%;
}

#media-list table th:nth-child(2),
#media-list table td:nth-child(2) {
    width: 30%;
}

#media-list table th:nth-child(3),
#media-list table td:nth-child(3) {
    width: 4%;
    text-align: center;
}

#media-list table th:nth-child(4),
#media-list table td:nth-child(4) {
    width: 8%;
    text-align: center;
}

#media-list table tbody [data-order] button {
    --size: .8rem;
    position: relative;
    height: var(--size);
    width: var(--size);
}

#media-list table tbody [data-order] button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    background: #fff;
}

#media-list table tbody [data-order] button:hover {
    background: #000;
}

#media-list table tbody [data-order] button[data-prev]::after {
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 50% 70%);
}

#media-list table tbody [data-order] button[data-next]::after {
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 50% 30%);
}

@media (max-width: 720px) {
    #media-list table {
        font-size: .8rem;
    }

    #media-list table th:nth-child(1),
    #media-list table td:nth-child(1) {
        width: 2%;
    }

    #media-list table th:nth-child(2),
    #media-list table td:nth-child(2) {
        width: 10%;
    }

    #media-list table th:nth-child(3),
    #media-list table td:nth-child(3) {
        width: 2%;
    }

    #media-list table th:nth-child(4),
    #media-list table td:nth-child(4) {
        width: 6%;
    }

    #media-list table tbody [data-order] button {
        --size: .2rem;
    }

    #media-list table [type=checkbox] {
        --size: 1rem;
    }
}